$columns: 12; // Number of columns in the grid system

.container {
	margin: 0 auto;
	max-width: 960px;
}

.container-fluid {
	max-width: 100%;
}

.row {
	display: flex;
	flex-wrap: wrap;
}

@for $width from 1 through $columns {
	.col-#{$width} {
		flex-basis: $width / $columns * 100%;
		padding: 0 $three;
	}
}

@media only screen and (max-width: 768px) {
	[class^="col-"] {
		flex-basis: 100%;
	}
}