$transition: all .3s ease-in-out;
$pi-number: 8px;

$cero: 0;
$one: $pi-number / 2;
$two: $pi-number;
$three: $pi-number * 2;
$four: $pi-number * 3;
$five: $pi-number * 4;
$six: $pi-number * 5;
$seven: $pi-number * 6;

$measures-normal: (
  "0": $cero,
  "1": $one,
  "2": $two,
  "3": $three,
  "4": $four,
  "5": $five,
  "6": $six,
  "7": $seven,
);

$measures-directions: (
  ("t", "top", "0", $cero),
  ("r", "right", "0", $cero),
  ("b", "bottom", "0", $cero),
  ("l", "left", "0", $cero),  
  ("t", "top", "1", $one),
  ("r", "right", "1", $one),
  ("b", "bottom", "1", $one),
  ("l", "left", "1", $one),
  ("t", "top", "2", $two),
  ("r", "right", "2", $two),
  ("b", "bottom", "2", $two),
  ("l", "left", "2", $two),
  ("t", "top", "3", $three),
  ("r", "right", "3", $three),
  ("b", "bottom", "3", $three),
  ("l", "left", "3", $three),
  ("t", "top", "4", $four),
  ("r", "right", "4", $four),
  ("b", "bottom", "4", $four),
  ("l", "left", "4", $four),
  ("t", "top", "5", $five),
  ("r", "right", "5", $five),
  ("b", "bottom", "5", $five),
  ("l", "left", "5", $five),
  ("t", "top", "6", $six),
  ("r", "right", "6", $six),
  ("b", "bottom", "6", $six),
  ("l", "left", "6", $six),
  ("t", "top", "7", $seven),
  ("r", "right", "7", $seven),
  ("b", "bottom", "7", $seven),
  ("l", "left", "7", $seven),
);