$transition: all .3s ease-in-out;
$pi-number: 8px;

$normal: $pi-number;
$xtra-small: $pi-number / 2;
$small: $pi-number * 2;
$medium: $pi-number * 3;
$large: $pi-number * 4;
$xtra-large: $pi-number * 5;
$xxtra-large: $pi-number * 6;

$measures-normal: (
  "n": $normal,
  "xs": $xtra-small,
  "s": $small,
  "m": $medium,
  "l": $large,
  "xl": $xtra-large,
  "xxl": $xxtra-large,
);

$measures-directions: (
  ("top", "n", $normal),
  ("right", "n", $normal),
  ("bottom", "n", $normal),
  ("left", "n", $normal),
  ("top", "xs", $xtra-small),
  ("right", "xs", $xtra-small),
  ("bottom", "xs", $xtra-small),
  ("left", "xs", $xtra-small),
  ("top", "s", $small),
  ("right", "s", $small),
  ("bottom", "s", $small),
  ("left", "s", $small),
  ("top", "m", $medium),
  ("right", "m", $medium),
  ("bottom", "m", $medium),
  ("left", "m", $medium),
  ("right", "l", $large),
  ("top", "l", $large),
  ("bottom", "l", $large),
  ("left", "l", $large),
  ("top", "xl", $xtra-large),
  ("right", "xl", $xtra-large),
  ("bottom", "xl", $xtra-large),
  ("left", "xl", $xtra-large),
  ("top", "xxl", $xxtra-large),
  ("right", "xxl", $xxtra-large),
  ("bottom", "xxl", $xxtra-large),
  ("left", "xxl", $xxtra-large),
);