a {
	color: $theme;
	transition: $transition;
}

@mixin mxn-btn($size, $radius) {
	display: inline-block;
	margin: 0px;
	padding: .5em 1.2em;
	font-size: $size;
	font-weight: normal;
	text-decoration: none;
	text-align: center;
	border-radius: $radius;
	background: gray;
	color: black;
	border: 0;
	outline: 0;
	cursor: pointer !important;
	transition: $transition;
	&:focus,
	&:hover {
		opacity: .75 !important;
	}
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.btn {
	@include mxn-btn(1em, 4px);
}

@each $name, $color in $colors {
  .btn-#{$name} {
		color: map-get($color, font) !important;
		background-color: map-get($color, base) !important;
  }
}