/* ===========================================================================
 * MARGINS
 * ==========================================================================*/

.margin {
	margin: $pi-number !important;
}

.margin-top {
	margin-top: $pi-number !important;
}

.margin-bottom {
	margin-bottom: $pi-number !important;
}

.margin-right {
	margin-right: $pi-number !important;
}

.margin-left {
	margin-left: $pi-number !important;
}


/* MARGINS XS */

.margin-xs {
	margin: ($pi-number / 2) !important;
}

.margin-top-xs {
	margin-top: ($pi-number / 2) !important;
}

.margin-bottom-xs {
	margin-bottom: ($pi-number / 2) !important;
}

.margin-right-xs {
	margin-right: ($pi-number / 2) !important;
}

.margin-left-xs {
	margin-left: ($pi-number / 2) !important;
}


/* MARGINS S */

.margin-s {
	margin: ($pi-number * 2) !important;
}

.margin-top-s {
	margin-top: ($pi-number * 2) !important;
}

.margin-bottom-s {
	margin-bottom: ($pi-number * 2) !important;
}

.margin-right-s {
	margin-right: ($pi-number * 2) !important;
}

.margin-left-s {
	margin-left: ($pi-number * 2) !important;
}


/* MARGINS M */

.margin-m {
	margin: ($pi-number * 3) !important;
}

.margin-top-m {
	margin-top: ($pi-number * 3) !important;
}

.margin-bottom-m {
	margin-bottom: ($pi-number * 3) !important;
}

.margin-right-m {
	margin-right: ($pi-number * 3) !important;
}

.margin-left-m {
	margin-left: ($pi-number * 3) !important;
}


/* MARGINS L */

.margin-l {
	margin: ($pi-number * 4) !important;
}

.margin-top-l {
	margin-top: ($pi-number * 4) !important;
}

.margin-bottom-l {
	margin-bottom: ($pi-number * 4) !important;
}

.margin-right-l {
	margin-right: ($pi-number * 4) !important;
}

.margin-left-l {
	margin-left: ($pi-number * 4) !important;
}


/* MARGINS X */

.margin-x {
	margin: ($pi-number * 5) !important;
}

.margin-top-x {
	margin-top: ($pi-number * 5) !important;
}

.margin-bottom-x {
	margin-bottom: ($pi-number * 5) !important;
}

.margin-right-x {
	margin-right: ($pi-number * 5) !important;
}

.margin-left-x {
	margin-left: ($pi-number * 5) !important;
}


/* MARGINS XL */

.margin-xl {
	margin: ($pi-number * 6) !important;
}

.margin-top-xl {
	margin-top: ($pi-number * 6) !important;
}

.margin-bottom-xl {
	margin-bottom: ($pi-number * 6) !important;
}

.margin-right-xl {
	margin-right: ($pi-number * 6) !important;
}

.margin-left-xl {
	margin-left: ($pi-number * 6) !important;
}