
.padding {
	padding: $pi-number !important;
}

.padding-top {
	padding-top: $pi-number !important;
}

.padding-bottom {
	padding-bottom: $pi-number !important;
}

.padding-right {
	padding-right: $pi-number !important;
}

.padding-left {
	padding-left: $pi-number !important;
}


/* PADDINGS XS */

.padding-xs {
	padding: ($pi-number / 2) !important;
}

.padding-top-xs {
	padding-top: ($pi-number / 2) !important;
}

.padding-bottom-xs {
	padding-bottom: ($pi-number / 2) !important;
}

.padding-right-xs {
	padding-right: ($pi-number / 2) !important;
}

.padding-left-xs {
	padding-left: ($pi-number / 2) !important;
}


/* PADDINGS S */

.padding-s {
	padding: ($pi-number * 2) !important;
}

.padding-top-s {
	padding-top: ($pi-number * 2) !important;
}

.padding-bottom-s {
	padding-bottom: ($pi-number * 2) !important;
}

.padding-right-s {
	padding-right: ($pi-number * 2) !important;
}

.padding-left-s {
	padding-left: ($pi-number * 2) !important;
}


/* PADDINGS M */

.padding-m {
	padding: ($pi-number * 3) !important;
}

.padding-top-m {
	padding-top: ($pi-number * 3) !important;
}

.padding-bottom-m {
	padding-bottom: ($pi-number * 3) !important;
}

.padding-right-m {
	padding-right: ($pi-number * 3) !important;
}

.padding-left-m {
	padding-left: ($pi-number * 3) !important;
}


/* PADDINGS L */

.padding-l {
	padding: ($pi-number * 4) !important;
}

.padding-top-l {
	padding-top: ($pi-number * 4) !important;
}

.padding-bottom-l {
	padding-bottom: ($pi-number * 4) !important;
}

.padding-right-l {
	padding-right: ($pi-number * 4) !important;
}

.padding-left-l {
	padding-left: ($pi-number * 4) !important;
}


/* PADDINGS X */

.padding-x {
	padding: ($pi-number * 5) !important;
}

.padding-top-x {
	padding-top: ($pi-number * 5) !important;
}

.padding-bottom-x {
	padding-bottom: ($pi-number * 5) !important;
}

.padding-right-x {
	padding-right: ($pi-number * 5) !important;
}

.padding-left-x {
	padding-left: ($pi-number * 5) !important;
}


/* PADDINGS XL */

.padding-xl {
	padding: ($pi-number * 6) !important;
}

.padding-top-xl {
	padding-top: ($pi-number * 6) !important;
}

.padding-bottom-xl {
	padding-bottom: ($pi-number * 6) !important;
}

.padding-right-xl {
	padding-right: ($pi-number * 6) !important;
}

.padding-left-xl {
	padding-left: ($pi-number * 6) !important;
}