.rounded-circle {
	border-radius: 100%;
}

@each $index, $value in $measures-normal {
	.rounded#{$index} {
		border-radius: #{$value} !important;
	}
}

/* RADIUS TOP LEFT */
.rounded-tl0 {
	border-top-left-radius: 0 !important;
}

.rounded-tl1 {
	border-top-left-radius: ($pi-number / 2) !important;
}

.rounded-tl2 {
	border-top-left-radius: $pi-number !important;
}

.rounded-tl3 {
	border-top-left-radius: ($pi-number * 2) !important;
}

.rounded-tl4 {
	border-top-left-radius: ($pi-number * 3) !important;
}

.rounded-tl5 {
	border-top-left-radius: ($pi-number * 4) !important;
}

.rounded-tl6 {
	border-top-left-radius: ($pi-number * 5) !important;
}

.rounded-tl7 {
	border-top-left-radius: ($pi-number * 6) !important;
}


/* RADIUS TOP RIGHT */
.rounded-tr0 {
	border-top-right-radius: 0 !important;
}

.rounded-tr1 {
	border-top-right-radius: ($pi-number / 2) !important;
}

.rounded-tr2 {
	border-top-right-radius: $pi-number !important;
}

.rounded-tr3 {
	border-top-right-radius: ($pi-number * 2) !important;
}

.rounded-tr4 {
	border-top-right-radius: ($pi-number * 3) !important;
}

.rounded-tr5 {
	border-top-right-radius: ($pi-number * 4) !important;
}

.rounded-tr6 {
	border-top-right-radius: ($pi-number * 5) !important;
}

.rounded-tr7 {
	border-top-right-radius: ($pi-number * 6) !important;
}


/* RADIUS BOTTOM RIGHT */

.rounded-br0 {
	border-bottom-right-radius: 0 !important;
}

.rounded-br1 {
	border-bottom-right-radius: ($pi-number / 2) !important;
}

.rounded-br2 {
	border-bottom-right-radius: $pi-number !important;
}

.rounded-br3 {
	border-bottom-right-radius: ($pi-number * 2) !important;
}

.rounded-br4 {
	border-bottom-right-radius: ($pi-number * 3) !important;
}

.rounded-br5 {
	border-bottom-right-radius: ($pi-number * 4) !important;
}

.rounded-br6 {
	border-bottom-right-radius: ($pi-number * 5) !important;
}

.rounded-br7 {
	border-bottom-right-radius: ($pi-number * 6) !important;
}


/* RADIUS BOTTOM LEFT */
.rounded-bl0 {
	border-bottom-left-radius: 0 !important;
}

.rounded-bl1 {
	border-bottom-left-radius: ($pi-number / 2) !important;
}

.rounded-bl2 {
	border-bottom-left-radius: $pi-number !important;
}

.rounded-bl3 {
	border-bottom-left-radius: ($pi-number * 2) !important;
}

.rounded-bl4 {
	border-bottom-left-radius: ($pi-number * 3) !important;
}

.rounded-bl5 {
	border-bottom-left-radius: ($pi-number * 4) !important;
}

.rounded-bl6 {
	border-bottom-left-radius: ($pi-number * 5) !important;
}

.rounded-bl7 {
	border-bottom-left-radius: ($pi-number * 6) !important;
}