body {
	font-family: $body-font;
}

h1,
h2,
h3 {
	font-family: $head-font;
}

/* ===========================================================================
 * TYPOGRAPHY COLORS
 * ==========================================================================*/

@each $name,
$color in $colors {
	.font-#{$name} {
		color: map-get($color, base) !important;
	}
}

/* ===========================================================================
 * TYPOGRAPHY SIZE
 * ==========================================================================*/

.font0 {
	font-size: .5em !important;
}

.font05 {
	font-size: .8em !important;
}

.font1 {
	font-size: 1rem !important;
}

.font2 {
	font-size: 1.2em !important;
}

.font3 {
	font-size: 1.5em !important;
}

.font4 {
	font-size: 2em !important;
}

.font5 {
	font-size: 4em !important;
}


/* ===========================================================================
 * TEXT UTILITIES
 * ==========================================================================*/

.text-uppercase {
	text-transform: uppercase !important;
}

.text-lowercase {
	text-transform: lowercase !important;
}

.text-capitalize {
	text-transform: capitalize !important;
}

.text-right {
	text-align: right !important;
}

.text-left {
	text-align: left !important;
}

.text-center {
	text-align: center !important;
}

.text-justify {
	text-align: justify !important;
}

.text-truncate {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}